html,
body {
  --theme-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --theme-bg-color: #fff;
  --theme-text-color: #48486a;
  --theme-box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  --theme-color-brand: #ff9b01;
  --theme-color-secondary: #5c629e;
  --theme-border: 1px solid var(--theme-color-secondary);
  --theme-spacing: 40px;

  padding: 0;
  margin: 0;
  font-family: var(--theme-font-family);
  background-color: var(--theme-bg-color);
}

* {
  box-sizing: border-box;
}

label {
  display: block;
  margin: 5px 0;
  color: var(--theme-color-secondary);
  font-size: 1rem;
  font-weight: 600;
}

input {
  width: 100%;
  border: none;
  font-size: 1.2rem;
  padding: 8px;
  border: var(--theme-border);
  border-radius: 4px;
  background-color: var(--theme-bg-color);
  color: var(--theme-text-color);
}

h1,
h2 {
  color: var(--theme-text-color);
  font-size: 2.6rem;
  margin: 0;
  padding: 0;
}

/* Button */

button {
  color: var(--theme-color-secondary);
  background-color: var(--theme-bg-color);
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
  width: 100%;
  border-radius: var(--theme-border-radius);
  padding: 1rem 2rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 42px;
  border: none;
  box-shadow: var(--theme-box-shadow);
  transition: all 0.3s ease-in-out;
}

button.primary:hover {
  background-color: #d48000;
}

button.primary {
  background-color: var(--theme-color-brand);
  border: 1px solid var(--theme-color-brand);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button > .loader {
  display: inline-block;
}

button > .loader.loading {
  animation: spin 1s linear infinite;
}

.form-grid {
  display: grid;
  gap: calc(var(--theme-spacing) / 2);
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    max-width: 800px;
  }

  .form-grid {
    gap: var(--theme-spacing);
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid {
  display: grid;
  gap: var(--theme-spacing);
  grid-template-columns: repeat(1, 1fr);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.greeting {
  text-align: center;
  font-size: 4rem;
  padding-top: 10px;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.wave {
  display: inline-block;
  padding: 0px 15px;
  animation: wave 2.4s linear infinite;
}
